In [1]:
import pymongo
import pandas as pd

In [2]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [3]:
db = client.parks_db
db.parks.drop()

In [4]:
parks_csv_file = "Biodiversity/parks.csv"
parks_csv = pd.read_csv(parks_csv_file)
parks_csv.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [5]:
parks_output = []
for index, row in parks_csv.iterrows():
    post={'park_code': str(row["Park Code"]),
         'park_name': str(row["Park Name"]),
         'state': str(row["State"]),
         'acres': float(row["Acres"]),
         'Latitude': float(row["Latitude"]),
         'Longitude': float(row["Longitude"])}
    parks_output.append(post)
    
db.parks.insert_many(parks_output)