In [1]:
import pymongo
import pandas as pd

In [2]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [4]:
db = client.recreation_db
db.recreation.drop()

In [7]:
recreation_csv_file = "2020_recreation_data_full.csv"
recreation_csv = pd.read_csv(recreation_csv_file)
cleaned_recreation_csv = recreation_csv[["park","facilitylatitude","facilitylongitude", "nights", "facilitystate"]]
cleaned_recreation_csv.head()

,park,facilitylatitude,facilitylongitude,nights,facilitystate
0,White Mountains National Recreation Area - Ala...,65.427497,-147.243361,1 day,Alaska
1,White Mountains National Recreation Area - Ala...,65.427497,-147.243361,1 day,Alaska
2,White Mountains National Recreation Area - Ala...,65.427497,-147.243361,3 days,Alaska
3,White Mountains National Recreation Area - Ala...,65.427497,-147.243361,1 day,Alaska
4,White Mountains National Recreation Area - Ala...,65.427497,-147.243361,1 day,Alaska

In [15]:
recreation_output = []
for index, row in recreation_csv.iterrows():
    post={'park_name': str(row["park"]),
         'latitude': str(row["facilitylatitude"]),
         'longitude': str(row["facilitylongitude"]),
         'nights': str(row["nights"]),
         'state': str(row["facilitystate"])}      
    recreation_output.append(post)
    
db.recreation.insert_many(recreation_output)